services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: formai-next
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
